<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arcadegamesbancodedados">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DetailActivity"></activity>
        <activity android:name=".JogosDetalhesFragment" />
        <activity android:name=".JogosCategoryFragment" />
        <activity android:name=".JogosCategoryListFragment" />
        <activity android:name=".JogosDetalhes" />
        <activity android:name=".JogosCategory" />
        <activity android:name=".Jogos" />
        <activity android:name=".LojasDetalhes" />
        <activity android:name=".LojasCategory" />
        <activity android:name=".Lojas" />
        <activity android:name=".ConsoleCategory" />
        <activity android:name=".Console" />
        <activity android:name=".ConsoleDetalhes" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>